@use "../../assets/styles/media-queries" as media-query;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 13.9rem;
  justify-content: space-around;
  @include media-query.sm-lt {
    gap: 11.3rem;
  }
  h1 {
    color: var(--primary-color);
    font-size: 28.8rem;
    @include media-query.sm-lt {
      font-size: 9.6rem;
    }
  }
  h2 {
    text-align: center;
  }
  a {
    text-decoration: underline;
    @include media-query.sm-lt {
      font-size: 1.4rem;
    }
  }
}
